---
layout: default
published: true
---

<article class="post">
  <h1>{{ page.category }} > {{ page.tags }} > {{ page.title }}</h1>

<h2>Intro</h2>
  <ul>
  <li>
{% assign somevar = page.title %}
{{ site.data.[somevar].tooltip }}
</li>
</ul> 
<h2>Details</h2>
  <ul>
  <li>originalAuthor:
{{ site.data.[somevar].originalAuthor }}</li>
  <li>dateCreated:
{{ site.data.[somevar].dateCreated }}</li>
  <li>status:
{{ site.data.[somevar].status }}</li>
  <li>source:
  <a href="h{{ site.data.[somevar].source }}">{{ site.data.[somevar].originalVersion }} | {{ site.data.[somevar].source }}</a>
</li>
  <li>Licence:
{{ site.data.[somevar].licence }}</li>
  <li>call:
{{ site.data.[somevar].call }}</li>
  <li>type:
{{ site.data.[somevar].type }}</li>
  <li>category:
{{ site.data.[somevar].category }}</li>
</ul> 
<h2Instructions</h2>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>
