---
layout: default
published: true
---

<article class="post">
  <h1>{{ page.category }} > {{ page.tags }} > {{ page.title }}</h1>
###Intrp

###Intro

 <br>
{{['site.data',page.title,'tooltip'] | join: '.' }}

{% capture productlink %}
{{ 'site.data.' | append:page.title | append:'.tooltip' }}
{% endcapture %} 
{{productlink}}

{% capture productlink %}
{{['site.data',page.title,'tooltip'] | join: '.' }}
{% endcapture %} 
{{productlink}}

 <br><p></p>
 ====
 {{ 'site.data.' | append:page.title | append:'.tooltip' }}

 

 <br>


  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>
